html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0px 0px 0px 0px;
  max-width: auto;
}

main {
  height: 100%;
  float: right;
  width: 75%;
  margin: 0px 0px 0px 0px;
}

.Categories {
  float: left;
  width: 25%;
  margin: 0px 0px 0px 0px;
  height: 100%;
  background: Snow;
  position: fixed;
}


h1 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  overflow: hidden;
  color: White;
  margin: 0px auto;
  height: 5%;
  padding-top: 6px;
  padding-bottom: 6px;
/*  padding-top: 1%;
  padding-bottom: 1%;*/
  text-align: center;
  background-color: RebeccaPurple	;
}

.container {
  background-color: white;
  /*padding-top: 10px;*/
  /*max-width: 100%;*/
  width:100%;
  height: 85.5%;
  position: relative;
  overflow-y: scroll;
  float: right;
  background-color: lavender;
}

/* Button used to open the chat form Sports tab */
.open-button-sports {
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
  color: DarkSlateBlue;
  background-color: snow;
  font-size: 15px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
  outline: none;
}

/* Button used to open the chat form Academics tab */
.open-button-academics {
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
  font-size: 15px;
  background-color: Snow;
  color: DarkSlateBlue;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
  outline: none;
}

button:hover{
  background-color: pink !important;
  opacity: .5;
}

.chat-already-popup {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}


/* this is stuff from the Website Matt Sent to us */

#list_section {
  text-align: center;
}

ul {
  padding: 0px;
  display: inline-block;
  max-width: 96%;
  position: absolute;
  right: 5%;
  width: 50%;
  height: 10%;

}

li {
  overflow-wrap: break-word;
  background-color: mediumpurple;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  list-style-type: none;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  display: inline-block;
  clear:both;
  float: right;
  max-width: 400px;
}

input[type=text], select {
  width: 67%;
  height: 7.5%;
  position: fixed;
  font-size: 100%;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  bottom: 0;
  border: none;
  padding-left: 5px;
  resize: none;
  outline: none;
}

input[type='submit'] {
  width: 7.5%;
  height: 7.5%;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  color: white;
  background-color: RebeccaPurple;
  border: none;
  cursor: pointer;
  outline: none;
}
