body {
  margin: 0px 0px 0px 0px;
  max-width: auto;
}

main {
  float: right;
  width: 70%;
  background-color: #f1f1f1;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

#catchathead {
  text-align: center;
}

.Categories {
  float: left;
  width: 30%;
  margin: 0px 0px 0px 0px;
  height: 568px;
  background: #ccc;
  padding: 21px;
  position: fixed;
}

.container {
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  margin: 0px 10px 10px 10px;
  max-width: 675px;
  width:100%;
  height: 255px;
  max-height: 255px;
  overflow-y: scroll;

}

.darker {
  border-color: purple;
  background-color: #ddd;
}

/* Button used to open the chat form Sports tab */
.open-button-sports {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}

/* Button used to open the chat form Academics tab */
.open-button-academics {
  background-color: orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  margin: 0 auto;
  max-width: 80%;
  border: 3px solid #f1f1f1;
  height: 100%;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
  height: 100%;
}

/* Full-width textarea */
.form-container textarea {
  width: 94%;
  padding: 8px 20px;
  border: none;
  background: #f1f1f1;
  resize: none;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* this is stuff from the Website Matt Sent to us */

#list_section {
  text-align: center;
}

h1 {
  color: orange;
  margin: 0px auto;
  padding: 20px;
}

ul {
  padding: 0px;
  display: inline-block;
  max-width: 96%;
  width: 96%;
}

li {
  background-color: MediumSpringGreen	;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}

input[type=text], select {
  width: 94%;
  padding: 8px 20px;
  border: none;
  background-color: #ddd;
  resize: none;
}

input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}
