html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0px 0px 0px 0px;
  max-width: auto;
}

main {
  height: 100%;
  float: right;
  width: 70%;
  background-color: #f1f1f1;
  margin: 0px 0px 0px 0px;
}

#catchathead {
  text-align: center;
  height: 0;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 50px;
}

.Categories {
  float: left;
  width: 30%;
  margin: 0px 0px 0px 0px;
  height: 100%;
  background: #ccc;
  position: fixed;
}

/* this is our old container
/*.container {
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  margin: 0px 10px 10px 10px;
  max-width: 675px;
  width:100%;
  height: 255px;
  max-height: 255px;
  overflow-y: scroll;

}

.darker {
  border-color: purple;
  background-color: #ddd;
}*/

.container {
  background-color: #ddd;
  padding-top: 10px;
  margin: 0px 10px 10px 10px;
  /*max-width: 675px;*/
  max-width: 100%;
  width:100%;
  height: 70%;
  /*height: 255px;
  max-height: 255px;*/
  position: relative;
  overflow-y: scroll;
}
/* Button used to open the chat form Sports tab */
.open-button-sports {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}

/* Button used to open the chat form Academics tab */
.open-button-academics {
  background-color: orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}

/* The popup chat - hidden by default */
.chat-popup {
  position: static;
  right: 50%;
  left: 50%;
  display: none;
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
}


/* this is stuff from the Website Matt Sent to us */

#list_section {
  text-align: center;
}

h1 {
  color: orange;
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

ul {
  padding: 0px;
  display: inline-block;
  max-width: 96%;
  position: absolute;
  right: 2.5%;
  width: 50%;
  height: 10%;

}

li {
  overflow-wrap: break-word;
  background-color: MediumSpringGreen	;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  /*width: 100%;*/
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}

input[type=text], select {
  width: 90%;
/*  padding: 8px 20px;*/
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: #ddd;
  resize: none
  float: right;
}

input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.8;
  float: right;
}
