{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>CatChat</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'chat/style.css' %}"
    />
  </head>
  <body>
    <div class="Categories">
      <h1>CATCHAT</h1>
      <button
        class="open-button-sports"
        id="sports-botton"
        onclick="openSports()"
      >
        Sports
      </button>
      <button
        class="open-button-academics"
        id="academics-botton"
        onclick="openAcademics()"
      >
        Academics
      </button>
    </div>
    <main>
      <!--  Sports Chat Room -->
      <div class="chat-already-popup" id="Sports">
        <h1>SPORTS</h1>
        <div id="box_sports" class="container">
          <ul id="message_sports"></ul>
          <!-- Need this thing so that the list can append to something-->
        </div>

        <input id="newTextSports" type="text" placeholder="Type a message..." />
        <button id="chat-message-submit" class="submit"></button>

        <!-- <input id="chat-message-submit" type="submit" value="SEND"/> -->
      </div>

      <!--  Academics Chat Room -->
      <div class="chat-popup" id="Academics">
        <h1>ACADEMICS</h1>
        <div id="box_academics" class="container">
          <ul id="message_academics"></ul>
          <!-- Need this thing so that the list can append to something-->
        </div>
        <form id="newItemFormAcademics">
          <input
            id="newTextAcademics"
            type="text"
            placeholder="Type a message..."
            required
            autocomplete="off"
          />
          <input type="submit" value="SEND" />
        </form>
      </div>

      <!--<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script src="{% static 'chat/script.js'%}"></script>-->
    </main>

    <script src="{% static 'chat/main.js' %}"></script>
    <script src="{% static 'chat/reconnecting-websocket.js' %}"></script>

    <script>
      var roomName = {{ room_name_json }};
      var username = {{ username }};

      var chatSocket = new ReconnectingWebSocket(
          'ws://' + window.location.host +
          '/ws/chat/' + roomName + '/');

      chatSocket.onopen = function(e) {
        fetchMessages();
      }

      chatSocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          if (data['command'] === 'messages') {
            for (let i=0; i<data['messages'].length; i++) {
              createMessage(data['messages'][i]);
            }
          } else if (data['command'] === 'new_message'){
            createMessage(data['message']);
          }
      };

      chatSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };

      document.querySelector('#newTextSports').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#chat-message-submit').click();
          }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          var messageInputDom = document.getElementById('newTextSports');
          var message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
              'command': 'new_message',
              'message': message,
              'from': username
          }));

          messageInputDom.value = '';
      };

      function fetchMessages() {
        chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
      }

      function createMessage(data) {
        var author = data['author'];
        var msgListTag = document.createElement('li');
       // var imgTag = document.createElement('img');
        var liTag = document.createElement('li');
        var smallTag = document.createElement('small');
        liTag.textContent = data.content;
        smallTag.textContent = data.timestamp;
       // imgTag.src = 'http://emilcarlsson.se/assets/mikeross.png';

        if (author === username) {
          msgListTag.className = 'sent';
        } else {
          msgListTag.className = 'replies';
        }

        msgListTag.appendChild(liTag);
        msgListTag.appendChild(smallTag);

       // msgListTag.appendChild(imgTag);
        document.querySelector('#message_sports').appendChild(msgListTag);
      }
    </script>
  </body>
</html>
