html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px 0px 0px 0px;
  max-width: auto;
}

.replies {
  float: left;
  background-color: pink;
}

.replies li {
  float: left;
  background-color: pink;
}

main {
  height: 100%;
  float: right;
  width: 75%;
  background-color: Lavender;
  margin: 0px 0px 0px 0px;
}

.Categories {
  float: left;
  width: 25%;
  margin: 0px 0px 0px 0px;
  height: 100%;
  background: Snow;
  position: fixed;
}

.channel-button {
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
  color: DarkSlateBlue;
  background-color: snow;
  font-size: 15px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
  outline: none;
}



h1 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  overflow: hidden;
  color: White;
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  background-color: RebeccaPurple;
}

.container {
  background-color: white;
  /*padding-top: 10px;*/
  /*max-width: 100%;*/
  width: 100%;
  height: 200px;
  position: relative;
  overflow-y: scroll;
  float: right;
}

/* Button used to open the chat form Sports tab */

.channel-button:hover {
  background-color: pink !important;
  opacity: 0.5;
}

.chat-already-popup {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

/* this is stuff from the Website Matt Sent to us */

#list_section {
  text-align: center;
}


input[type="text"],
select {
  width: 67.5%;
  font-size: 100%;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  border: none;
  resize: none;
  outline: none;
}
    #chats {
      width: 75%;
    }


    #chats .room {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 30px 0 0 0;
    }
    #chats h2 {
        color: #333;
        margin: 2px 0 5px 0;
        font-weight: bold;
    }
    #chats .messages {
        height: 200px;
        overflow: auto;
        background: #eee;
        margin: 2px 0 5px 0;
    }
    #chats .username {
        display: inline-block;
        color: #C07A36;
        width: 100px;
        font-weight: bold;
    }
    #chats .contextual-message{
        text-align: center;
        margin: 5px 5px 5px 5px;
    }
    #chats .text-muted {
        opacity: .6;
        font-style: italic;
    }
    #chats .text-danger {
        color: #a94442;
        font-weight: bold;
    }
    #chats .text-warning {
        color: #DCAD5C;
        font-weight: bold;
        font-style: italic;
    }


    ul {
      padding: 0px;
      display: inline-block;
      max-width: 96%;
      position: relative;
      width: 100%;
      height: 50px;
    }
    
    li {
      overflow-wrap: break-word;
      background-color: RebeccaPurple;
      font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
        "Helvetica Neue", Arial, sans-serif;
      font-weight: lighter;
      border-radius: 6px;
      color: white;
      font-size: 20px;
      list-style-type: none;
      margin: 0px auto;
      padding: 10px;
      margin-bottom: 10px;
      opacity: 0.8;
      display: inline-block;
      clear: both;
      float: right;
      max-width: 400px;
    }
    